<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786885370395-f3tbl8kce35g5besj03vs8khdjglir79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786885370395-f3tbl8kce35g5besj03vs8khdjglir79</string>
	<key>API_KEY</key>
	<string>AIzaSyBu_gaW6KdfJp_DRZq_ohQwvM1f6zdxeDI</string>
	<key>GCM_SENDER_ID</key>
	<string>786885370395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ak.bodreroapp</string>
	<key>PROJECT_ID</key>
	<string>bordero-app-2bd8e</string>
	<key>STORAGE_BUCKET</key>
	<string>bordero-app-2bd8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786885370395:ios:f7d9cffbcb6d957975cebe</string>
	<key>DATABASE_URL</key>
	<string>https://bordero-app-2bd8e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>